@font-face {
  font-family: 'open-sans';
  src: url(../fonts/open-sans.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url(../fonts/roboto.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-gold: #CCB26E;
  --color-grey: #333333;
  --color-orange: #FF5C00;
  --color-white: #ffffff;
  --color-background: #424242;
  --color-border: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

input, select, textarea{
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

body {
  background-color: var(--color-background);
  display: flex;
}


/* CHECKBOX */

.checkbox__title {
  font-family: 'open-sans';
  font-size: 18px;
  font-weight: 600;
  padding: 21px 0 21px 30px;
  letter-spacing: 0.5px;
  color: var(--color-grey);
}

.checkbox__list {
  padding-left: 30px;
}

.checkbox__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 176px;
  height: 309px;
  margin: 70px 58px 0 92px;
  border-radius: 10px;
  background-color: var(--color-white);
}
 
 .checkbox {
	display: block;
	margin: 0 0 20px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.checkbox input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.checkbox span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 24px; 
  font-family: 'open-sans';
  font-size: 14px;
  color: var(--color-grey);
}

.checkbox span:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0;
	top: 3px;
  border: 1px solid var(--color-border);
  border-radius: 3px;
}

.checkbox input[type=checkbox]:checked + span:before {
	background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 2px;
  border-color: var(--color-gold);
}

/* SELECT */

.select__container {
  margin-top: 70px;
}

.choices__list--single {
  padding: 8px 92px 10px 14px;
  font-family: 'open-sans';
  font-size: 14px;
  color: var(--color-grey);
}

.choices__inner {
  padding: 0;
  min-height: 39px;
  width: 176px;
  border-radius: 10px; 
  background-color: var(--color-white);
}

.choices__placeholder {
  opacity: inherit;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices[data-type*=select-one]:after {
  content: url(../img/arrow.svg);
  height: 8;
  width: 8;
  border: none;
  position: absolute;
  right: 27.5px;
  top: 50%;
  margin-top: -8.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  content: url(../img/Rectangle\ 141.svg);
  margin-top: -4.5px;
}

.choices__list--dropdown {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 178px;
  height: 253px;
  background-color: #fff;
  top: 100%;
  margin-top: 0;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  overflow: hidden;
  word-break: normal;
  will-change: auto;
}

.is-open .choices__list--dropdown {
  right: -1px;
  border-top: none;
  border-bottom: 1px solid #CCB26E;
  border-right: 1px solid #CCB26E;
  border-left: 1px solid #CCB26E;
  border-color: #CCB26E;
}

.is-open .choices__inner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.choices.is-open {
  border-left: 1px solid #CCB26E;
  border-right: 1px solid #CCB26E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #CCB26E;
}

.choices__list--dropdown .choices__item {
  font-family: 'open-sans';
  font-size: 14px;
  color: #333333;
}

.is-selected {
  display: none;
}









 
 




