@font-face {
  font-family: 'MullerBold';
  src: url(../fonts/MullerBold.woff),
    url(../fonts/MullerBold.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url(../fonts/MullerLight.woff),
    url(../fonts/MullerLight.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url(../fonts/MullerMedium.woff),
    url(../fonts/MullerMedium.woff2);
  font-display: swap;
  font-style: normal;
}

  @font-face {
  font-family: 'MullerRegular';
  src: url(../fonts/MullerRegular.woff),
    url(../fonts/MullerRegular.woff2);
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
  text-decoration: none;
}

.phone {
  color: #666666;
  font-family: 'MullerMedium';
  font-size: 20px;
}

.area {
  color: #CC9933;
  font-size: 16px;
  font-family: 'MullerRegular';
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  padding-left: 29px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #fff;
  padding: 14px 45px;
}

.header-nav {
  display: flex;
  height: 50px;
  align-items: center;
  border-right: 1px solid #E1E1E1;
}

.header-lists {
  display: flex;
}

.nav-item {
  padding-right: 47px;
}

.nav-items {
  font-size: 16px;
  font-family: 'MullerRegular';
  color: #666666;
}

.header-bottom-right {
  display: flex;
  align-items: center;
}

.header-btn-right {
  color: #CC9933;
  font-size: 16px;
  font-family: 'MullerRegular';
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
  margin-right: 40px;
}

.header-btn-left {
  color: #CC9933;
  font-size: 16px;
  font-family: 'MullerRegular';
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
}

.main-special {
  margin-top: 70px;
}

.special {
  display: flex;
}

.special-card1 {
  min-width: 573px;
}

.servises-list-items {
  max-width: 573px;
}

.main-servises-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-list-items {
  max-width: 275px;
}

.placing-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
