@font-face {
  font-family: 'MullerBold';
  src: url(../fonts/MullerBold.woff),
    url(../fonts/MullerBold.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url(../fonts/MullerLight.woff),
    url(../fonts/MullerLight.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url(../fonts/MullerMedium.woff),
    url(../fonts/MullerMedium.woff2);
  font-display: swap;
  font-style: normal;
}

  @font-face {
  font-family: 'MullerRegular';
  src: url(../fonts/MullerRegular.woff),
    url(../fonts/MullerRegular.woff2);
  font-display: swap;
  font-style: normal;
}

.body {
  width: 1920px;
  margin: 0 auto;
  color: #F1F1F1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 261px;
  height: 54px;
  margin-top: 30px;
}

.number-phone {
  padding-left: 40px;
  width: 164px;
  height: 20px;
  left: 676px;
  top: 47px;
}

.phone {
  font-family: 'MullerMedium';
  font-size: 20px;
  color: #666666;
  text-decoration: none;
}


