@font-face {
  font-family: 'MullerBold';
  src: url(../fonts/MullerBold.woff),
    url(../fonts/MullerBold.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url(../fonts/MullerLight.woff),
    url(../fonts/MullerLight.woff2);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url(../fonts/MullerMedium.woff),
    url(../fonts/MullerMedium.woff2);
  font-display: swap;
  font-style: normal;
}

  @font-face {
  font-family: 'MullerRegular';
  src: url(../fonts/MullerRegular.woff),
    url(../fonts/MullerRegular.woff2);
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #F1F1F1;
}

.header {
 width: 1170px;
 margin: 0 auto;
} 

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone {
  margin-left: 34px;
  font-family: 'MullerMedium';
  font-size: 20px;
  color: #666666;
}

.area {
  text-decoration: none;
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}
