@font-face {
  font-family: 'roboto';
  src: url(../fonts/roboto-regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url(../fonts/roboto-bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-blue: #3F2AFF;
  --color-white: #FFFFFF;
  --color-title: #2E2B44;
  --color: #212133;
  --color-text: #85859B;
  --color-text2: #666666;
}

body {
  font-family: 'roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* HEADER */

.header {
  background-color: var(--color-blue);
}

.header__container {
  padding: 29px 0 26px 0;
}

.header__list {
  display: flex;
  justify-content: flex-end;
}

.header__list-item {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
}

.header__list-item:not(:first-child) {
  margin-left: 57px;
}

