@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-bold.woff);
  src: url(../fonts/montserrat-bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-extrabold.woff);
  src: url(../fonts/montserrat-extrabold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-regular.woff);
  src: url(../fonts/montserrat-regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-semibold.woff);
  src: url(../fonts/montserrat-semibold.woff2);
  font-weight: 600;
  font-style: normal;
}

  :root {
      --color-orange: #FF9900;
      --color-grey: #E5E5E5;
      --color-dark-grey: #414141;
      --main-color-black: #333333;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a {
    text-decoration: none;
  }

  .btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }

  input, select {
    border: none;
    appearance: none;
    outline: none;
  }

  .container {
    max-width: 1770px;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

    /* header */









