@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-extrabold.woff);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-semibold.woff);
  font-weight: 600;
  font-style: normal;
}

:root {
    --color-orange: #FF9900;
    --color-grey: #E5E5E5;
    --color-dark-grey: #414141;
    --main-color-black: #333333;
}

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a {
      text-decoration: none;
  }

  .btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }

  input, select {
    border: none;
    appearance: none;
    outline: none;
  }

  .container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

    /* header */

    .header {
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    }

    .header__container {
      display: flex;
      justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 10px;
    }

    .header__list {
      display: flex;
      padding-bottom: 2px;
    }

    .header__right {
      display: flex;
      align-items: center;
    }

    .header__item {
      margin-right: 85px;
      letter-spacing: 0.1px;
    }

    .header__link {
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }

    /* header */

    /* hero */

    .hero__discription {
      background-image: url(../img/balconies_1920.png);
      background-size: cover;
      min-height: 620px;
    }

    .hero__discription-text {
      padding-left: 81px;
      padding-top: 105px;
      padding-bottom: 100px;
      max-width: 894px;
    }

    .hero__title {
      margin-bottom: 21px;
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 70px;
      line-height: 85px;
      color: #fff;
    }

    .hero__subtitle {
      margin-bottom: 88px;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #fff;
    }

    .hero__btn {
      padding: 28px 37px 24px 37px;
      background-color: #FF9900;
      font-family: 'Montserrat';
      font-size: 23.4581px;
      font-weight: 700;
      color: #fff;
    }

    /* hero */

    /* about */

    .about__title {
      margin-top: 104px;
      margin-bottom: 17px;
      margin-left: 2px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 48px;
      line-height: 59px;
      color: #333;
    }

    .about__subtitle {
      max-width: 1235px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #333;
    }

    .about__cards {
      display: flex;
      margin-top: 49px;
    }

    .about__card-left {
      position: relative;
      max-width: 868px;
      margin-right: 32px;
    }

    .about__card-left_img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .about__card-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 51px 50px 49px 50px;
      background: rgba(0, 0, 0, 0.5);
    }

    .about__card-subtitle {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      color: #fff;
      max-width: 454px;
    }

    .about__card-btn {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      padding: 17px 35px 17px 35px;
      border: 3px solid #FF9900;
    }

    .about__cards-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .about__card-vertical:not(:last-child) {
      margin-bottom: 32px;
    }

    .about__card-vertical-img_top {
      background-image: url(../img/Frame_2.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 190px;
      height: 165px;
      flex-shrink: 0;
    }

    .about__card-vertical-img_bottom {
      background-image: url(../img/Frame_1.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 190px;
      height: 165px;
      flex-shrink: 0;
    }

    .about__card-vertical {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 295px;
      padding-left: 59px;
      padding-top: 59px;
      padding-right: 115px;
      padding-bottom: 59px;
      border: 1px solid #CACACA;
    }

    .about__card-vertical-info {
      padding-top: 3px;
      padding-left: 50px;
      max-width: 503px;
    }

    .card__vertical-title {
      margin-bottom: 8px;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 24px;
      color: #333333;
    }

    .card__vertical-subtitle {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #333333;
    }

    /* about */

    /* how */

    .how__title {
      margin-top: 106px;
      font-family: 'Montserrat';
      font-size: 48px;
      font-weight: 400;
      color: #333;
    }

    .how__step:not(:last-child) {
      margin-right: 86px;
    }

    .how__steps {
      display: flex;
      margin-bottom: 47px;
      margin-top: 50px;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: 400;
    }

    .how__step-link {
      color: #333;
    }

    .how__step-active {
      color: #E1670E ;
    }

    .how__info {
      display: flex;
    }

    .how__discription {
      flex-basis: 50%;
    }

    .how__img {
      padding-left: 15px;
      margin-top: 8px;
      flex-basis: 50%;
    }

    .how__images {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .how__subtitle {
      margin-bottom: 7px;
      font-family: 'Montserrat';
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: #333;
    }

    .how__text {
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
      max-width: 758px;
      color: #333;
      max-width: 758px;
    }

    .how__discription-btn {
      margin-top: 49px;
    }

    .how__btn-left {
      margin-right: 28px;
      padding: 21px 37px 19px 38px;
      border: 1px solid #FF9900;
      background-color: #FF9900;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 700;
      color: #fff;
    }

    .how__btn-right {
      padding: 21px 37px 19px 37px;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      color: #333;
      border: 1px solid #333;
    }

    /* how */

    /* faq */

    .faq__title {
      margin-top: 106px;
      margin-bottom: 11px;
      padding-bottom: 10px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 48px;
      color: #333;
    }

    .faq__list {
      margin-top: 31px;
    }

    .faq__list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 31px;
      padding-bottom: 29px;
      border-top: 1px solid #CACACA;
      cursor: pointer;
    }

    .faq__item-last {
      border-bottom: 1px solid #CACACA;
    }

    .faq__item-question {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 24px;
      color: #333333;
    }

    /* faq */

    /* footer */

    .footer {
      margin-top: 100px;
      min-height: 594px;
      background: #222222;
    }

    .footer__container {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
    }

    .footer__container > * {
      flex: 1 1 33.33%;
    }

    .footer__logo {
      margin-bottom: 17px;
    }

    .footer__list {
      margin-bottom: 89px;
    }

    .footer__item {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;
      color: #CACACA;
    }

    .footer__social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 89px;
      max-width: 230px;
    }
      

    .footer__form {
      display: flex;
      flex-direction: column;
      padding: 0px 13px 0 1px;
    }

    .footer__center {
      margin-left: 17px;
      margin-top: 6px;
    }

    .footer__form-title {
      margin-left: 1px;
      margin-bottom: 23px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 48px;
      color: #CACACA;
    }

    .footer__right {
      padding-top: 88px;
      padding-left: 224px;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #CACACA;
    }

    .footer__form-name {
      margin-bottom: 25px;
      padding: 22px 0 20px 24px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      background: #414141;
      color: #CACACA;
    }

    .footer__form-email {
      margin-bottom: 25px;
      padding: 22px 0 20px 24px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      background: #414141;
      color: #CACACA;
    }

    .footer__form-text {
      margin-bottom: 32px;
      padding: 22px 0 110px 24px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      background: #414141;
      color: #CACACA;
    }

    ::placeholder {
      color: #CACACA;
    }

    .footer__form-bottom {
      display: flex;
      align-items: baseline;
    }

    .footer__form-btn {
      padding: 21px 52px 19px 52px;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background: #FF9900;
    }

    .footer__igree {
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      color: #CACACA;
    }

    .footer__form-checkbox {
      width: 14px;
      height: 14px;
      border: 1px solid #CACACA;
    }

    .footer__label {
      padding-left: 22px;
    }

    /* footer */

    /* hover */

    .header__link:hover {
      border-bottom: 2px solid #FF9900;
    }
  
     .header__search:hover .header__search-rect {
      transition: fill .3s ease;
      fill: #FF9900;
    }
  
    .header__search:hover .header__search-path {
      transition: stroke .4s ease;
      stroke: #FF9900;
    }
  
    .hero__btn:hover {
      transition: background .4s ease;
      background-color: rgba(255, 153, 0, 0.7);
    }
  
    .about__card-btn:hover {
      transition: background .4s ease;
      background-color: #FF9900;
    }
  
    .how__step-link:hover {
      transition: color .4s ease;
      color: #FF9900;
    }
  
    .how__btn-left:hover {
      transition: background .4s ease;
      background-color: #F7B045;;
    }
  
    .how__btn-right:hover {
      transition: background .4s ease;
      background-color: #666;
      color: #fff;
    }
  
    .faq__list-item:hover {
      transition: border .4s ease;
      border-top: 1px solid #FF9900;
    }
  
    .faq__list-item:hover + .faq__list-item{
      transition: border .4s ease;
      border-top: 1px solid #FF9900;
    }
  
    .faq__item-last:hover {
      transition: border .4s ease;
      border-bottom: 1px solid #FF9900;
    }
  
    .faq__list-item:hover .faq__item-question {
      transition: color .4s ease;
      color: #FF9900;
    }
  
    .faq__list-item:hover .faq__img-path  {
      transition: fill .4s ease;
      fill: #FFF;
    }
  
    .faq__list-item:hover .faq__item-ellipse {
      transition: fill .4s ease;
      fill: #FF9900;
    }
  
    .footer__item:hover {
      transition: color .4s ease;
      color: #FF9900;
    }
  
    .footer__social-img:hover .footer__social-svg {
      transition: fill .4s ease;
      fill: #FF9900;
    }
  
    .footer__form-name:hover {
      transition: background .4s ease;
      background-color: #666;
    }
  
    .footer__form-email:hover {
      transition: background .4s ease;
      background-color: #666;
   }
  
   .footer__form-text:hover {
      transition: background .4s ease;
      background-color: #666;
  }
  
  .footer__form-btn:hover {
      transition: background .4s ease;
      background-color: rgba(255, 153, 0, 0.7);
  }
  
  /* hover */

  /* focus */

a:focus, .header__search:focus, .how__step:focus, .footer__item:focus, .footer__social-svg:focus {
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}

.hero__btn:focus, .how__btn-left:focus {
  background-color: #F7B045;
}

.about__card-btn:focus {
  background-color: #FF9900;
}

.how__btn-right:focus {
  background-color: #666;
  color: #fff;
}

.footer__form-btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

 input:focus {
  background-color: #666;
}

.faq__list-item:focus {
  color: #FF9900;
}

/* focus */

/* active */

.header__link:active {
  border-bottom: 2px solid #E1670E;
  color: #E1670E;
}

.hero__btn:active {
  background-color: #E1670E;
}

.about__card-btn:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.how__btn-left:active, .footer__form-btn:active {
  background-color: #E1670E;
}

.how__btn-right:active {
  background-color: #000;
}

.footer__item:active, .how__step-link:active {
  color: #E1670E;
}

.footer__social-img:active .footer__social-svg {
  fill: #E1670E;
}

/* active */

































